
<div class="container text-center">
  <h3 class="text-center"> Album </h3><br/>
  <button class="btn btn-default" type="submit"><%= link_to 'New Photo', new_photo_path %></button>
</div>
<br/>
<div class="container text-center ">
  <% @photos.each do |photo| %>
      <%= image_tag photo.file_location.url, size: "300", class: "img-thumbnail" %>
      <div>
      <%= photo.title %>
      <br/>
      <button class="btn btn-default" type="submit"><%= link_to 'Show', photo_path(photo) %></button>
      <button class="btn btn-default" type="submit"><%= link_to 'Edit', edit_photo_path(photo) %></button>
      <button class="btn btn-default" type="submit"><%= link_to 'Destroy', photo_path(photo), method: :delete, data:{ confirm: "Are you sure?" } %></button>  
      </div>
      
  <% end %>

</div>


