
<div class="container text-center">
  <h3 class="text-center"> Album </h3><br/>
  <button class="btn btn-default" type="submit"><%= link_to 'New Photo', new_photo_path %></button>
</div>
<br/>

  <% @photos.each do |photo| %>
  <div class="container text-center col-xs-12 col-sm-4 col-md-3">
      <div class="content">
        <div class="photo">
          <%= image_tag photo.file_location.url, class: "img-thumbnail" %>
        </div>
        <div class="title">
          <%= photo.title %>
          <br/>
          <button class="btn btn-default" type="submit"><%= link_to 'Show', photo_path(photo) %></button>
          <button class="btn btn-default" type="submit"><%= link_to 'Edit', edit_photo_path(photo) %></button>
          <button class="btn btn-default" type="submit"><%= link_to 'Destroy', photo_path(photo), method: :delete, data:{ confirm: "Are you sure?" } %></button>

        </div>  
      </div>

  </div>
  <% end %>



