<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.12&appId=1818422994855649&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container text-center show">
  <%= image_tag @photo.file_location.url, class: "img-thumbnail" %>
</div>
<div class="container text-center">
  <table class="table table-striped table-condensed">
    <tr>
      <td><%= @photo.title %></td>
    </tr>
    <tr>
      <td><%= @photo.date %></td>
    </tr>
    <tr>
      <td><%= simple_format(@photo.description) %></td>
    </tr>
  </table>

  <button class="btn btn-default"><%= link_to 'Back to index', photos_path %></button>
</div>
"
<div class=fb-share-button" data-href="<%= '#{https://first-album.herokuapp.com/}'+'#{@photo.id}'%>" data-layout=button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffirst-album.herokuapp.com%2Fphotos%2F&amp;src=sdkpreparse" class=fb-xfbml-parse-ignore>分享</a></div>
