<body onload="myFunction()">
<div class="container text-center show">
  <%= image_tag @photo.file_location.url, class: "img-thumbnail" %>
</div>
<div class="container text-center">
  <table class="table table-striped table-condensed">
    <tr>
      <td><%= @photo.title %></td>
    </tr>
    <tr>
      <td><%= @photo.date %></td>
    </tr>
    <tr>
      <td><%= simple_format(@photo.description) %></td>
    </tr>
  </table>

  <button class="btn btn-default"><%= link_to 'Back to index', photos_path %></button>
</div>
 <iframe id="share" src=" " width="83" height="28" style="border:none;overflow:hidden" scrolling="no"  frameborder="0" allowTransparency="true"></iframe>
 </body>
</html>